{% extends 'web/base.html' %}
{% block content %}
    <h1 class="text-center mb-4">Queues</h1>
    <div style="overflow-y: scroll; height: 80vh">
        {% for queue in object_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ queue.name }}</h5>
                    <p class="card-text">{{ queue.description }}</p>
                    <a href="{% url 'web:members' queue.id %}" class="card-link">Просмотреть</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}