{% extends 'web/base.html' %}

{% block content %}
    <h1 class="text-center">Members</h1>
    <div style="overflow-y: auto; height: 60vh" id="list">
        {% for member in object_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ member.name }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="text-center" id="add_member_block">
        <h4 class="mb-3">Add your member</h4>
        <div id="active_queue">
            <form hx-post="{% url 'web:members' specific_queue.id %}" hx-swap="outerHTML" id="member_add_form"
                  hx-target="#{{ form.name.id_for_label }}">
                {% csrf_token %}
                {% include 'web/member_add_form_field.html' %}
                <div class="d-flex justify-content-center gap-3">
                    <a id="active_queue_disable" class="btn btn-warning btn-lg mt-3" hx-swap="none"
                       hx-post="{% url 'web:change_active_state' specific_queue.id %}">Остановить</a>
                    <button type="submit" class="btn btn-success btn-lg mt-3">Добавить</button>
                    <a id="active_queue_pop" class="btn btn-danger btn-lg mt-3" hx-swap="none"
                       hx-post="{% url 'web:remove_first_member' specific_queue.id %}">Убрать</a>
                </div>
            </form>


        </div>

        <div id="inactive_queue_admin">
            <form hx-post="{% url 'web:change_active_state' specific_queue.id %}" hx-swap="none">
                {% csrf_token %}
                <button class="btn btn-warning btn-lg mt-3">
                    Запустить очередь
                </button>
            </form>
        </div>

        <div id="inactive_queue">
            <p>Wait when admin start queue</p>
        </div>

    </div>

    <script>
        let socket = new WebSocket('ws://localhost:8000/ws/members/' + {{ specific_queue.id }})


        function reset_buttons(active) {
            console.log("reset_buttons")
            let inactive_queue = document.getElementById("inactive_queue")
            let inactive_queue_admin = document.getElementById("inactive_queue_admin")
            let active_queue = document.getElementById("active_queue")
            let active_queue_disable = document.getElementById("active_queue_disable")
            let active_queue_pop = document.getElementById("active_queue_pop")

            active_queue.style.display = 'none'
            inactive_queue_admin.style.display = 'none'
            inactive_queue.style.display = 'none'
            active_queue_disable.style.display = 'none'
            active_queue_pop.style.display = 'none'


            active_queue.style.display = active ? 'block' : 'none';

            if ("{{ user.is_superuser }}" === "True") {
                inactive_queue_admin.style.display = active ? 'none' : 'block';

                active_queue_disable.style.display = active ? 'block' : 'none';
                active_queue_pop.style.display = active ? 'block' : 'none';
            } else
                inactive_queue.style.display = active ? 'none' : 'block';
        }


        reset_buttons("{{ specific_queue.active }}" === "True")

        socket.onmessage = function (event) {
            let djangoData = JSON.parse(event.data)
            let div = document.querySelector("#list")

            if (djangoData.is_active_status_changed)
                reset_buttons(djangoData.new_active)

            div.innerHTML = ""

            for (const i in djangoData.new_objects_list) {
                card = djangoData.new_objects_list.at(i)
                div.innerHTML += `
            <div class="card mb-3">
                 <div class="card-body">
                    <h5 class="card-title"> ${card.name} </h5>
                </div>
            </div>
        `
            }
        }

    </script>
{% endblock %}